.switcher {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.switcher__item {
    display: none;
    height: 21px;
    font-size: 18px;
    font-weight: var(--font-weight-light,300);
    color: var(--color-light-text,#ffffff);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    background: none;
    border: none;
}

.switcher__item--active {
    display: flex;
    position: relative;
    cursor: pointer;
}

.switcher__item--active:hover{
    scale: 1.1;
    transition: 0.2s;
}

.switcher__item--active::after {
    content: "";
    position: absolute;
    top: 0;
    right: -28px;
    width: 28px;
    height: 100%;
}

.switcher__item--active::before {
    position: absolute;
    top: 4px;
    right: -14px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 10px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg);
}